# Python кеш
__pycache__/
*.py[cod]

# Налаштування VS Code
.vscode/

# Секретні дані (Ключі та сертифікати)
*.key
*.crt
*.csr

# Тимчасові звіти та логи
*.json
app.log

# Віртуальне оточення
venv/
.venv/